<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.epic.deloreantracker">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.example.epic.deloreantracker.DeLoreanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/qub_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.example.epic.deloreantracker.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.epic.deloreantracker.PollService"
            android:label="Poll Service"
            >
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCU0NlgEiCF2Yq42eYN0tNnwbN6YIJRVcA" />

        <!--Yicheng's and Henry's SHA1 developer certificate fingerprint and package name. Current
        Google API services will accept requests from any Android application.
        72:C2:E5:8C:05:D0:42:D1:41:BA:73:8C:30:4E:AB:37:82:CD:83:F6;com.example.epic.deloreantracker
        D4:7F:79:2D:7C:6C:57:A8:19:8B:C3:A6:F3:B9:CC:21:5F:EE:EF:D2;com.example.epic.deloreantracker
        -->
    </application>

</manifest>
